body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  width: 1232px;
  margin: 0 auto;
  opacity: 0.9;
}

header {
  width: 1232px;
  height: 69px;
  display: flex;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  background: inherit;
}

.logo {
  padding-left: 10px;
  display: inline-flex;
  align-items: center;
  width: 25%;
}

.logo img {
  height: 50px;
}

.nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
  margin-right: 30px;
}

a {
  color: seashell;
  padding-left: 30px;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  overflow: auto;
  margin-bottom: 78px;
}

.mission-container {
  width: 1232px;
  height: 700px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

.mission-image {
  width: 1200px;
  height: 650px;
  display: flex;
  justify-content: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  margin: 0 auto;
  position: relative;
}

.our-mission {
  background-color: black;
  width: 1200px;
  height: 25%;
  display: block;
  justify-content: center;
  position: relative;
  margin: auto auto;
}

.teaofthemonth {
  width: 1000px;
  height: auto;
  display: block;
  justify-content: center;
  position: relative;
  margin: 0 auto 50px auto;
}

.tea1 img {
  width: 300px;
  height: 200px;
}

.tea1 h4 {
  width: 300px;
  height: 27px;
  margin: 0 auto;
}

.tea2 img {
  width: 300px;
  height: 200px;
}

.tea2 h4 {
  width: 300px;
  height: 27px;
  margin: 0 auto;
}

.tea3 img {
  width: 300px;
  height: 200px;
}

.tea3 h4 {
  width: 300px;
  height: 27px;
  margin: 0 auto;
}

.tea4 img {
  width: 300px;
  height: 200px;
}

.tea4 h4 {
  width: 300px;
  height: 27px;
  margin: 0 auto;
}

.tea5 img {
  width: 300px;
  height: 200px;
}

.tea5 h4 {
  width: 300px;
  height: 27px;
  margin: 0 auto;
}

.tea1,
.tea2,
.tea3,
.tea4,
.tea5 {
  display: inline-block;
  margin: 10px 10px;
  position: relative;
}

.locations-container {
  width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin: 0 auto;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}

.locations-container h2 {
  padding-top: 20px;
}

.locationboxes {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.locationbox1,
.locationbox2,
.locationbox3 {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  position: relative;
}

.locationbox2 {
  margin-left: 40px;
  margin-right: 40px;
}

.footer-container {
  display: block;
  height: 200px;
  width: 1200px;
  background-color: black;
  justify-content: center;
}

.copyright {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  background-color: black;
}
